Xcursor.theme: Breeze
Xcursor.size: 32
*.cursorColor: #5d5d5d

! Color Palet Afterglow
*.background: #222222
*.foreground: #d0d0d0
!! Black
*.color0: #151515
*.color8: #505050
!! Red
*.color1: #a54242
*.color9: #c63636
!! Green
*.color2: #7b9246
*.color10: #7b9246
!! Yellow
*.color3: #d3a04d
*.color11: #d3a04d
!! Blue
*.color4: #6c99bb
*.color12: #547c99
!! Magenta
*.color5: #9f4e85
*.color13: #9f4e85
!! Cyan
*.color6: #7dd6cf
*.color14: #7dd6cf
!! White
*.color7: #d0d0d0
*.color15: #f5f5f5

/* ! Colors Palet */
/* *.background:	Black */
/* *.foreground:	white */
/* !! Black */
/* *.color0: #1b1918 */
/* *.color8: #766e6b */
/* !! Red */
/* *.color1: #f22c40 */
/* *.color9: #f22c40 */
/* !! Green */
/* *.color2: #5ab738 */
/* *.color10: #5ab738 */
/* !! Yellow */
/* *.color3: #d5911a */
/* *.color11: #d5911a */
/* !! Blue */
/* *.color4: #407ee7 */
/* *.color12: #407ee7 */
/* !! Magenta */
/* *.color5: #6666ea */
/* *.color13: #6666ea */
/* !! Cyan */
/* *.color6: #00ad9c */
/* *.color14: #00ad9c */
/* !! White */
/* *.color7: #a8a19f */
/* *.color15: #f1efee */

